.popup {
    width: 600px;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 48px 32px 32px;
    text-align: center;
    z-index: 100;
}

.popup>img {
    width: 468px;
    height: 266px;
    margin-bottom: 32px;
}

.popup>h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #16181B;
    margin-bottom: 16px;
}

.popup>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2D4379;
    margin-bottom: 40px;
}

.popup>form {
    display: grid;
}

.popup>form>input,
.popup>form>textarea {
    border: 1px solid rgba(45, 67, 121, calc(0.6 * 0.4));
    border-radius: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(45, 67, 121, 0.6);
    padding: 19px 32px;
    box-sizing: border-box;
}

.popup>form>input {
    height: 54px;
    margin-bottom: 16px;
}

.popup>form>textarea {
    height: 86px;
    resize: none;
}

.closeBtn {
    width: 20px;
    height: 20px;
    padding: 24px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.closeBtn>i {
    font-size: 20px;
    color: #B3B7C1;
}