.collections-list-container {
    margin: 48px 0;
    display: grid;
    gap: 16px;

    .collections-list-link {
        width: max-content;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-decoration: none;
        color: #2D4379;

        &:hover {
            text-decoration-line: underline;
            color: #386BEE;
        }
    }
}

.collections-navigation-container {
    position: relative;

    .collections-navigation-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        padding-top: 8px;

        .collections-navigation-dropdown-content {
            background: #FFFFFF;
            border: 1px solid #eee;
            border-radius: 8px;
            box-shadow: 0 2px 4px gainsboro;
            width: max-content;
            list-style-type: none;

            li {
                padding: 12px;
            }
        }
    }

    &:hover {
        .collections-navigation-dropdown {
            display: block;
        }
    }
}

.collection-blocks-container {
    margin: 48px 0;

    .home-section-common-container {
        padding: 0;
    }
}