.collections-list-container {
    margin: 48px 0;
    display: grid;
    gap: 16px;

    .collections-list-link {
        width: max-content;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-decoration: none;
        color: #2D4379;

        &:hover {
            text-decoration-line: underline;
            color: #386BEE;
        }
    }
}

.collections-navigation-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: #636E8D;
    cursor: pointer;

    &:hover {
        text-decoration-line: underline;
        color: #386BEE;
    }
}

.collection-blocks-container {
    margin: 48px 0;

    .home-section-common-container {
        padding: 0;
    }
}