/* FEEDBACK CARDS */

.feedback-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.feedback-cards>.feedback-card-container {
    background-color: rgba(244, 247, 255, 0.5);
    box-shadow: 0 2px 4px #e0e7f4;
    backdrop-filter: none;
}

.feedback-no-feedbacks {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #2D4379;
}

/* FEEDBACK CARD */

.feedback-card-container {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 8px 12px rgba(42, 102, 163, 0.33);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 20px 30px;
}

.feedback-card-header {
    display: grid;
    grid-template-columns: 64px 1fr auto;
    align-items: center;
}

.feedback-card-header.owner {
    grid-template-columns: max-content;
}

.feedback-card-header>img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.feedback-card-anonym {
    width: 64px;
    height: 64px;
    background: #386BEE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-card-anonym>i {
    font-size: 42px;
    line-height: 42px;
    color: #FFFFFF;
}

.feedback-card-username {
    margin: 0 auto 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: #16181B;
    width: min-content;
}

.feedback-card-rating {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    row-gap: 12px;
    column-gap: 24px;
}

.feedback-card-rating>span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #2D4379;
}

.feedback-card-rating>div {
    display: flex;
    gap: 6px;
}

.feedback-card-rating i {
    font-size: 12px;
}

.feedback-card-container>hr {
    margin: 20px 0;
}

.feedback-card-description {
    min-height: 60px;
}

.feedback-card-description>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D4379;
    display: inline;
    white-space: break-spaces;
    word-break: break-word;
    margin-right: 8px;
}

.feedback-card-read-more {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #386BEE;
    cursor: pointer;
}

.feedback-card-footer {
    display: flex;
    align-items: center;
}

.feedback-service-logo {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: lightgray; */
}

.feedback-service-logo>a {
    line-height: 0;
    text-decoration: none;
    border-radius: 50%;
    font-size: 8px;
    color: #386BEE;
}

.feedback-service-logo img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
}

.feedback-service-name {
    margin: 0 auto 0 16px;
}

.feedback-service-name>a {
    text-decoration: none;
}

.feedback-service-name p {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #386BEE;
    margin-bottom: 6px;
}

.feedback-service-name span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: rgba(45, 67, 121, 0.6);
}

.feedback-service-likes {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    padding: 6px 8px;
    background: var(--color-lightgray-two);
    border-radius: 16px;
    cursor: pointer;
}

.feedback-service-likes>i {
    color: var(--color-white);
    font-size: 14px;
}

.feedback-service-likes>div {
    /* width: 32px; */
    /* height: 24px; */
    /* border: 1px solid #1FB663; */
    /* border-radius: 12px; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.feedback-service-likes.active {
    background: var(--color-green);
}

.feedback-service-likes span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
}

.feedback-card-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 24px;
}

.feedback-card-buttons-container>button:nth-child(1) {
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: var(--color-blue);
    cursor: pointer;
}

/* FEEDBACK POPUP */

.feedback-popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 32px;
    z-index: 100;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    width: 600px;
    box-sizing: border-box;
}

.feedback-popup-main {
    display: grid;
}

/* .feedback-popup-columns {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 24px;
} */

.feedback-popup-columns i {
    font-size: 18px;
}

.feedback-popup-columns h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #16181B;
    margin-bottom: 12px;
}

.feedback-popup-search {
    margin-top: 0;
}

.feedback-popup-search input {
    width: 100%;
    padding: 16px 28px 16px 0;
    border-bottom: 1px solid #E9EEFA;
    color: #2D4379;
    box-sizing: border-box;
    margin-bottom: 1px;
}

.feedback-popup-search button {
    position: fixed;
    float: right;
    margin-top: 14px;
    right: 40px;
}

.feedback-popup-services-list {
    height: 300px;
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    overflow: scroll;
    mask-image: linear-gradient(white, 90%, transparent);
    -webkit-mask-image: linear-gradient(white, 90%, transparent);
}

.feedback-popup-services-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.feedback-popup-services-list-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
}

.feedback-popup-services-list-item div {
    margin: 0 auto 0 16px;
}

.feedback-popup-services-list-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #386BEE;
}

.feedback-popup-services-list-item span {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #2D4379;
    opacity: 0.6;
}

.feedback-popup-rating {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin: 32px 0;
}

.feedback-popup-rating>span {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #2D4379;
}

.feedback-popup-stars {
    display: flex;
    gap: 12px;
}

.feedback-popup-stars i {
    font-size: 24px;
}

.feedback-popup-total-rating {
    justify-self: flex-end;
}

.feedback-popup-main>textarea {
    border: 1px solid rgba(45, 67, 121, calc(0.6 * 0.4));
    border-radius: 32px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(45, 67, 121, 0.6);
    padding: 19px 32px;
    height: 86px;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.feedback-popup-bottom-buttons {
    display: grid;
    grid-template-columns: 80px 1px auto;
    border-radius: 48px;
    box-shadow: 0px 8px 16px rgba(56, 107, 238, 0.25);
    position: relative;
    overflow: hidden;
}

.feedback-popup-bottom-buttons-ai-button {
    width: 80px;
    height: 48px;
    font-size: 16px;
    color: var(--color-white);
    background: var(--color-blue);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.feedback-popup-bottom-buttons-divider {
    background: linear-gradient(var(--color-blue) -10%, #97B6FB, var(--color-blue) 110%);
    position: relative;
    z-index: 1;
}

.feedback-popup-bottom-buttons-create-feedback-button {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-white);
    background: var(--color-blue);
    cursor: pointer;
}

.feedback-popup-main>p {
    margin-top: 24px;
    color: var(--color-red);
    text-align: center;
}

/* FEEDBACK CARD POPUP */

.feedback-card-popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    max-width: 800px;
    box-sizing: border-box;
    z-index: 100;
}

.feedback-card-popup-container>.feedback-card-container {
    background: #F9FBFF;
    box-shadow: none;
    backdrop-filter: none;
}

.feedback-card-popup-close-button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 20px;
    line-height: 20px;
    color: #B3B7C1;
    background: #FFFFFF;
    padding: 4px;
    border: 1px solid #B3B7C1;
    border-radius: 50%;
    box-shadow: 0 0 2px #B3B7C1;
    box-sizing: content-box;
    cursor: pointer;
}

/* MOBILE */

@media screen and (max-width: 576px) {
    .feedback-cards {
        grid-template-columns: auto;
        gap: 12px;
    }

    .feedback-card-container {
        padding: 16px;
        border-radius: 16px;
        box-shadow: none;
    }

    .feedback-card-header {
        grid-template-columns: 32px auto;
        grid-template-rows: 32px auto;
        column-gap: 12px;
        row-gap: 10px;
    }

    .feedback-card-header.owner {
        grid-template-columns: auto;
        grid-template-rows: initial;
    }

    .feedback-card-header>img,
    .feedback-card-anonym {
        width: 32px;
        height: 32px;
        grid-row-end: span 2;
        align-self: flex-start;
    }

    .feedback-card-anonym>i {
        font-size: 24px;
        line-height: 24px;
    }

    .feedback-card-username {
        margin: 0;
        font-size: 18px;
        line-height: 22px;
        width: max-content;
    }

    .feedback-card-rating {
        row-gap: 8px;
        column-gap: 12px;
    }

    /* .feedback-card-rating>span {
        font-size: 10px;
        line-height: 10px;
    } */

    .feedback-card-rating>div {
        gap: 5px;
    }

    .feedback-card-container>hr {
        margin: 16px 0;
    }

    .feedback-card-description>p,
    .feedback-card-read-more {
        font-size: 10pt;
        line-height: 14pt;
    }

    .feedback-card-popup-container {
        top: auto;
        left: 0;
        bottom: 0;
        transform: none;
        min-width: 100%;
        max-width: 100%;
    }

    .feedback-card-popup-container>.feedback-card-container {
        border-radius: 16px 16px 0 0;
    }

    .feedback-card-popup-close-button {
        top: -36px;
        right: 4px;
    }

    .feedback-service-name {
        margin: 0 auto 0 12px;
    }

    .feedback-service-name>p {
        margin-bottom: 4px;
    }

    .feedback-service-name>span {
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 10px;
    }

    .feedback-service-likes {
        gap: 6px;
    }

    .feedback-service-likes>i {
        font-size: 14px;
    }

    .feedback-service-likes>div {
        height: 22px;
    }

    .feedback-service-likes span {
        font-size: 10px;
        line-height: 10px;
    }

    .feedback-popup-container {
        top: auto;
        left: 0;
        bottom: 0;
        transform: none;
        padding: 16px 16px 40px;
        border-radius: 24px 24px 0 0;
        width: 100%;
    }

    .feedback-popup-columns {
        gap: 12px;
    }

    .feedback-popup-columns h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0;
    }

    .feedback-popup-search {
        margin-top: 12px;
    }

    .feedback-popup-search input {
        padding: 12px 28px 12px 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
    }

    .feedback-popup-search button {
        margin-top: 10px;
        right: 28px;
    }

    .feedback-popup-search i {
        font-size: 10px;
    }

    .feedback-popup-services-list {
        height: 230px;
    }

    .feedback-popup-services-list-item span {
        font-weight: 300;
        font-size: 10px;
        line-height: 10px;
    }

    .feedback-popup-rating {
        gap: 16px;
        margin: 24px 0;
    }

    .feedback-popup-rating>span {
        font-size: 12px;
        line-height: 12px;
    }

    .feedback-popup-stars {
        gap: 10px;
    }

    .feedback-popup-stars i {
        font-size: 16px;
    }

    .feedback-popup-main>textarea {
        border-radius: 20px;
        font-size: 12px;
        padding: 16px 20px;
        height: 64px;
        margin-bottom: 40px;
    }
}