footer {
    margin-top: 60px;
    background-color: #0D253C;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    min-width: 1440px;
}

.wrapper {
    padding: 40px 80px;
    margin: 0 auto;
    width: 1440px;
    display: grid;
    grid-template-columns: calc(464px - 80px) auto min-content;
    row-gap: 48px;
    box-sizing: border-box;
}

.footerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.navigation {
    display: flex;
    gap: 120px;
    align-self: center;
}

.navigation>a {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: #636E8D;
}

.navigation>a:hover {
    text-decoration-line: underline;
    color: #386BEE;
}

.buttons {
    display: flex;
    gap: 24px;
    justify-self: end;
}

.buttons>button {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    color: #0D253C;
    background-color: #FFFFFF;
    cursor: pointer;
}

footer p {
    color: #636E8D;
}

footer h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 16px;
}

.footerTop+div {
    margin: 48px 0;
}

.info {
    display: flex;
    grid-column-end: span 2;
}

.info a {
    text-decoration-line: underline;
    color: #386BEE;
}

.phone {
    width: 250px;
}

.phone>p {
    line-height: 18px;
}

.docs {
    display: grid;
    gap: 16px;
    align-self: start;
}

.credentials {
    margin-left: 134px;
}

.copyright {
    margin-top: 52px;
}