@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans:wght@300;400;500;600&display=swap');

html,
body,
h1,
h2,
h3,
button,
input,
textarea,
p,
select,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

hr {
    border: 0;
    border-top: 1px solid #E9EEFA;
    margin: 0;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(8px);
}

.backdrop-no-blur {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.75);
}

.bg-white {
    background: white !important;
}

.bg-blue {
    background: #386BEE !important;
}

.color-white {
    color: white !important;
}

.color-blue {
    color: #386BEE !important;
}

.cursor-pointer {
    cursor: pointer;
}

.categories-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 16px;
}

.page-main-container {
    padding: 40px 80px;
}

.sort-selection>* {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #636E8D;
}

.sort-selection>span {
    margin-right: 12px;
}

.user-header-container {
    display: flex;
    align-items: center;
    gap: 16px;
    color: inherit;
}

.user-header-container>img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.user-header-container>a {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: inherit;
    text-decoration: none;
}

.loader {
    border: 5px solid #555;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #f3f3f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}