@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans:wght@300;400;500;600&display=swap');

html,
body,
h1,
h2,
h3,
button,
input,
textarea,
p,
select,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    line-height: 1;
}

hr {
    border: 0;
    border-top: 1px solid #E9EEFA;
    margin: 0;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(8px);
}

.backdrop-no-blur {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.75);
}

.bg-white {
    background: white !important;
}

.bg-blue {
    background: #386BEE !important;
}

.color-white {
    color: white !important;
}

.color-blue {
    color: #386BEE !important;
}

.cursor-pointer {
    cursor: pointer;
}

.mb-32 {
    margin-bottom: 32px;
}

.page-main-container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
    box-sizing: border-box;
}

.section-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.section-main-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    color: #16181B;
}

.categories-section {
    margin-bottom: 32px;
}

.categories-section>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #2D4379;
    margin-bottom: 32px;
}

.categories-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 16px;
}

.sort-selection>* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #636E8D;
}

.sort-selection>span {
    margin-right: 8px;
}

.show-more-container {
    margin-top: 16px;
    text-align: center;
}

.show-more-container i {
    font-size: 10px;
    margin-left: 8px;
}

.wide-search-container {
    margin-bottom: 32px;
}

.wide-search-container input {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding: 0 48px 0 16px;
    border: 1px solid rgb(45, 67, 121, 0.4);
    border-radius: 32px;
    box-sizing: border-box;
    height: 48px;
    color: #B3BBC2;
}

.wide-search-container i {
    float: right;
    font-size: 18px;
    margin-top: -32px;
    margin-right: 18px;
}

/* LOADER */

.loader {
    border: 5px solid #555;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #f3f3f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* MOBILE */

@media screen and (max-width: 576px) {
    .page-main-container {
        width: 100%;
        padding: 0 16px;
    }

    .section-header-container {
        margin-bottom: 16px;
    }

    .section-main-title {
        font-size: 20px;
        line-height: 20px;
    }

    .categories-section {
        margin-bottom: 20px;
    }

    .categories-section>p {
        font-size: 10px;
        line-height: 10px;
        margin-bottom: 12px;
    }

    .show-more-container {
        margin-top: 24px;
    }

    .show-more-container span {
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
    }

    .show-more-container i {
        font-size: 8px;
        margin-left: 6px;
    }

    .wide-search-container input {
        padding: 0 46px 0 20px;
        font-size: 10px;
        line-height: 10px;
        height: 42px;
    }

    .wide-search-container i {
        font-size: 16px;
        margin-top: -29px;
        margin-right: 20px;
    }
}