.home-main-container {
    background-color: white;
    width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
}

.home-wave-backdrop {
    position: absolute;
    top: 0;
    z-index: 0;
}

/* HOME WELCOME */

.home-welcome-container {
    margin: 77px 80px 87px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    position: relative;
}

.home-welcome-left-block {
    display: block;
}

.home-welcome-left-block>h1 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 20px;
}

.home-welcome-left-block>h1>span {
    color: #386BEE;
    text-decoration-line: underline;
}

.home-welcome-left-block>p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2D4379;
    margin-bottom: 80px;
    max-width: 500px;
}

.home-welcome-left-block>div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.home-welcome-right-block>img {
    position: absolute;
    width: 678px;
    height: 381px;
    top: -39px;
    right: 0;
}

/* HOME CATEGORIES */

.home-categories-container {
    margin: 0 80px 77px;
}

.home-categories-container>p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #2D4379;
    margin-bottom: 20px;
}

.home-categories-container>div {
    display: flex;
    justify-content: space-between;
}

.home-categories-left-block {
    max-width: 60%;
}

.home-categories-search-field {
    width: 350px;
    height: 54px;
    border: 1px solid rgba(45, 67, 121, 0.4);
    border-radius: 32px;
    padding: 0 24px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: calc(100% - 24px - 12px) 24px;
    align-items: center;
    justify-content: space-between;
}

.home-categories-search-field>input {
    border: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #B3BBC2;
}

.home-categories-search-field>i {
    font-size: 20px;
    color: #386BEE;
}

/* HOME SECTION */

.home-section-common-container {
    margin: 48px 0;
    padding: 0 80px;
    overflow: visible;
    display: block;
}

/* .home-section-common-container.extended {
    overflow: visible;
} */

/* .home-articles-section {
    padding: 48px 0;
} */

.home-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.home-section-header>h2 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: #16181B;
}

.home-section-header>a {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #386BEE;
    text-decoration: none;
}

.home-section-header>a:hover {
    text-decoration-line: underline;
}

.home-section-header span {
    margin-right: 12px;
}

/* .home-section-header i {
    font-size: 18px;
} */

.home-services-cards {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 13.7px;
    /* ??? */
    row-gap: 16px;
    /* -webkit-mask-image: linear-gradient(to right, black, transparent); */
    overflow-x: auto;
}

.home-services-cards.extended {
    display: flex;
    flex-wrap: wrap;
}

.home-articles-buttons {
    display: flex;
    gap: 12px;
}

.home-articles-buttons>button {
    width: 32px;
    height: 32px;
    border: 1px solid #386BEE;
    border-radius: 50%;
    background: none;
    color: #386BEE;
    cursor: pointer;
}

.home-articles-cards {
    display: flex;
    justify-content: space-between;
}

/* HOME BANNERS */

.home-banners-wrapper {
    margin: 48px 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.home-banners-wrapper>div {
    height: 232px;
    box-sizing: border-box;
}

.home-giftbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(99.72deg, #6AB8FF 17.77%, #4586F5 79.02%);
    border-radius: 24px;
    position: relative;
    padding: 32px;
    overflow: hidden;
}

.home-banner-text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.home-banner-text-block>p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
}

.home-giftbox-image>img {
    width: 87px;
    height: 100px;
    filter: drop-shadow(8px 20px 32px rgba(61, 104, 184, 0.4));
    position: absolute;
    top: 72px;
    left: 322px;
}

.home-taskboard-image>img {
    width: 155.88px;
    height: 200.37px;
    filter: drop-shadow(8px 20px 32px rgba(61, 104, 184, 0.4));
    transform: rotate(4.84deg);
    position: absolute;
    top: 10px;
    /* left: 418px; */
    right: 34px;
}

.home-specialist-banner-container {
    display: grid;
    grid-template-columns: 32% auto;
    background: linear-gradient(99.72deg, #A5A8F8 17.77%, #7F80EA 79.02%);
    border-radius: 24px;
    position: relative;
    padding: 32px;
    overflow: hidden;
}

.home-specialist-banner-container img {
    width: 182px;
    height: 260px;
    position: absolute;
    top: 17px;
    right: 76px;
    filter: drop-shadow(8px 72px 24px #0A3066);
}

/* HOME FEEDBACK */

.home-feedback-container {
    /* margin-top: 90px; */
    background: linear-gradient(99.72deg, #6AB8FF 17.77%, #4586F5 79.02%);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 32px 80px;
    position: relative;
}

.home-feedback-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Noto Sans';
    font-style: normal;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.home-feedback-header>h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    text-shadow: 0px 1px 1px #3174BC;
}

.home-feedback-header>a {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 6px;
}

.home-feedback-header>a:hover {
    text-decoration-line: underline;
}

.home-feedback-header span {
    margin-right: 12px;
}

.home-feedback-header img {
    width: 627px;
    height: 298px;
    position: absolute;
    top: -50px;
    right: 30px;
}

.home-feedback-cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 16px;
    position: relative;
}

/* HOME SUBSCRIPTION BANNER */

.home-subscription-wrapper {
    margin: 48px 80px 0;
    padding-top: 20px;
    overflow: hidden;
}

.home-subscription-container {
    padding: 32px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(99.72deg, #AAD1FC 17.77%, #76ACE8 79.02%);
    border-radius: 24px;
    position: relative;
}

.home-subscription-container h2 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    width: 405px;
}

.home-subscription-container p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2D4379;
    margin-bottom: 16px;
}

.home-subscription-container img {
    width: 304px;
    height: 226px;
    position: absolute;
    top: -20px;
    right: 442px;
}

.home-subscription-buttons {
    display: flex;
    gap: 16px;
}

.home-subscription-buttons>button {
    padding: 0 24px;
    height: 48px;
    border: none;
    border-radius: 75px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.home-subscription-buttons>#vk {
    background-color: #386BEE;
    box-shadow: 0px 8px 16px rgba(56, 107, 238, 0.25);
}

.home-subscription-buttons>#vk>i {
    font-size: 24px;
}

.home-subscription-buttons>#email {
    background-color: #6BB9FF;
    box-shadow: 0px 8px 16px rgba(64, 135, 198, 0.25);
}

.home-subscription-buttons>#email>i {
    font-size: 22px;
}