// POPUP

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 32px 48px;
    text-align: center;
    z-index: 100;
    // font-family: 'Montserrat', sans-serif;
    // font-style: normal;
    width: 600px;
    max-height: 800px;
    overflow: scroll;
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    gap: 24px;

    .popup-add-form {
        display: grid;
        gap: 16px;

        label,
        &>div {
            display: grid;
            grid-template-columns: minmax(80px, min-content) auto;
            align-items: center;
            justify-items: flex-start;
            gap: 16px;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: rgba(45, 67, 121, 0.6);

            input[type='text'],
            textarea {
                border: 1px solid rgba(45, 67, 121, calc(0.6 * 0.4));
                border-radius: 12px;
                padding: 2px 10px;
                font-family: 'Noto Sans', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 12pt;
                line-height: 12pt;
                color: #2D4379;
                width: 300px;
                height: 30px;
            }

            textarea {
                padding: 10px;
                height: 100px;
                resize: none;
            }

            select {
                padding: 6px 8px;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                color: #636E8D;
                background: #eee;
                border-radius: 12px;
                cursor: pointer;
            }

            .popup-service-select {
                width: 100%;

                &:disabled {
                    cursor: not-allowed;
                }
            }

            input[type='text']:disabled {
                background: #eee;
                cursor: not-allowed;
            }
        }

        label#extended {
            grid-template-columns: minmax(100px, min-content) auto;
        }

        i {
            color: #386BEE;
        }

        .popup-type-selection {
            display: flex;
            align-items: center;
            gap: 24px;

            label {
                display: flex;
                color: #2D4379;
            }
        }
    }

    .popup-list-scroll {
        max-height: 300px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        row-gap: 12px;
        column-gap: 16px;
        list-style-type: none;
        overflow: scroll;
    }
}