/* SERVICE CARD */

.service-card-link {
    text-decoration: none;
    border-radius: 12px;
}

.service-card-container {
    width: 245px;
    height: 310px;
    background-color: rgba(244, 247, 255, 0.5);
    border-radius: 12px;
    padding: 16px;
    box-sizing: border-box;
    flex-shrink: 0;
    word-break: break-word;
    display: block;
}

.service-card-container a {
    text-decoration: none;
}

.service-card-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 16px;
}

.service-card-logo {
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-card-logo>img {
    width: 80px;
}

.service-card-name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    color: #16181B;
    margin-bottom: 8px;
}

.service-card-category {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(45, 67, 121, 0.6);
}

.service-card-description {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D4379;
    margin-top: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* RATING TAG */

.service-rating-tag {
    padding: 6px 10px;
    background-color: #386BEE;
    border-radius: 18px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.service-rating-tag>i {
    font-size: 10px !important;
}

.service-rating-tag>span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
}

/* SERVICE PAGE */

/* .service-page-categories {
    margin-bottom: 40px;
} */

.service-main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 64px;
}

.service-images {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
    grid-auto-rows: min-content;
    /* grid-row-end: span 2; */
    color: #2D4379;
    margin-bottom: 32px;
}

.service-image-wrapper {
    padding: 1%;
    background-color: #F4F7FF;
    border-radius: 8px;
    cursor: pointer;
}

.service-image-wrapper:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
}

.service-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.service-image-wrapper.empty {
    width: 100%;
    height: 280px;
    font-size: 48px;
    color: #636E8D;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: auto;
}

.service-info {
    display: block;
}

.service-info-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 32px;
}

.service-title-section {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: flex-start;
    row-gap: 12px;
    column-gap: 16px;
}

.service-title-section>a {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}

.service-title-section>button {
    padding: 6px 8px;
    color: #386BEE;
    background: #F4F7FF;
    border-radius: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

.service-title-section>span {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #2D4379;
    grid-row-start: 2;
    grid-column-end: span 2;
}

.service-title-section i {
    color: #636E8D;
}

.service-rating-section {
    display: flex;
    align-items: center;
}

.service-rating-divider {
    width: 1px;
    height: 30px;
    background: #E9EEFA;
    margin: 0 24px;
}

.service-more-info {
    margin-bottom: 32px;
}

.service-feedback-qty {
    display: flex;
    align-items: center;
    gap: 12px;
}

.service-feedback-qty>i {
    font-size: 20px;
    color: #F8B32D;
}

.service-feedback-qty>span {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #2D4379;
}

.service-info>p {
    margin-top: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D4379;
}

.service-details {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.service-details>span {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #2D4379;
}

.service-details .service-details-data {
    font-weight: 400;
    text-align: right;
}

/* SERVICE BANNER */

.service-banner-wrapper {
    margin: 32px 0;
    padding-top: 9px;
    overflow: hidden;
}

.service-banner-container {
    padding: 24px 32px;
    display: grid;
    grid-template-columns: 70% auto;
    background: linear-gradient(96.12deg, #4687F6 4.31%, #8CC4FF 115.64%);
    border-radius: 32px;
    position: relative;
}

.service-banner-container h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.service-banner-container img {
    width: 140px;
    position: absolute;
    top: -9px;
    right: 55px;
}

/* SERVICE GALLERY */

.service-gallery-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
}

.service-gallery-container>img {
    width: 100%;
}

.service-gallery-container>button {
    font-size: 24px;
    color: #FFFFFF;
    width: 48px;
    cursor: pointer;
}

.service-gallery-container>button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.service-gallery-counter {
    position: fixed;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    font-family: 'Noto Sans', sans-serif;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    z-index: 100;
}

/* SERVICE SECTION (SPECIALISTS) */

.service-section-header-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.service-section-header-buttons {
    display: flex;
    gap: 16px;
}

.service-section-header-buttons>button {
    background-color: rgb(115, 149, 231, 0.1);
    border-radius: 75px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #386BEE;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.service-section-header-buttons>button>span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #F1F4FD;
    padding: 6px 8px;
    background-color: #386BEE;
    border-radius: 12px;
}

.service-section-header-buttons>.active {
    color: #FFFFFF;
    background-color: #386BEE;
}

.service-section-header-buttons>.active>span {
    color: #386BEE;
    background: white;
}

.service-specialists-cards {
    display: grid;
    gap: 16px;
}

/* SERVICES LIST PAGE */

.services-list-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    margin-bottom: 32px;
}

.services-list-main-container {
    display: grid;
    grid-template-columns: 270px auto;
    gap: 32px;
    position: relative;
}

.services-list-filters-container {
    height: fit-content;
    position: sticky;
    top: 32px;
}

.services-list-filters-container p {
    font-size: 14px;
    line-height: 14px;
    color: #2D4379;
    margin-bottom: 16px;
}

.services-list-filters-container>.wide-search-container {
    margin-bottom: 24px !important;
}

.services-list-filters-container>.wide-search-container>input {
    height: 42px !important;
}

.services-list-filters-container>.wide-search-container>i {
    margin-top: -29px !important;
}

.services-list-filters-container>.service-selection-advanced-inputs {
    grid-template-columns: auto;
    gap: 24px;
}

.services-list-cards-container .service-card-container {
    width: 235px !important;
}

.services-list-search-title {
    display: flex;
    align-items: center;
}

.services-list-categories-container {
    padding: 24px;
    background: rgba(244, 247, 255, 0.5);
    border-radius: 12px;
}

.services-list-categories-container>p {
    margin-top: 0 !important;
    margin-bottom: 24px !important;
}

.services-list-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin: 32px 0;
}

.services-list-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    /*! margin-top: 32px; */
}

.services-list-not-found {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #B3BBC2;
    text-align: center;
    /* margin: 200px auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-list-not-found>i {
    font-size: 120pt;
    margin-bottom: 16px;
}

.services-list-reset-button {
    padding: 6px 8px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #636E8D;
    background: #eee;
    border-radius: 12px;
    cursor: pointer;
}

.services-list-reset-button>i {
    margin-left: 6px;
    font-size: 12px;
}

.services-list-services-number {
    margin: 0 auto 0 12px;
    padding: 0 8px;
    background: #386BEE;
    border-radius: 32px;
    font-size: 18px;
    line-height: 32px;
    color: white;
}

.services-list-selected-categories {
    margin-bottom: 24px;
}

.services-list-selected-categories p {
    font-size: 14px;
    margin-bottom: 16px;
}

.services-list-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* SERVICE SELECTION */

/* .service-selection-container {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;
    background: white;
    padding: 40px 80px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-sizing: border-box;
    z-index: 100;
    color: #2D4379;
    overflow-y: auto;
    animation-name: open-service-selection;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
} */

/* @keyframes open-service-selection {
    from {
        top: 100%;
    }

    to {
        top: 10%;
    }
} */

.service-selection-container hr {
    margin: 32px 0;
}

.service-selection-container p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 16px;
}

.service-selection-header {
    max-width: 450px;
}

.service-selection-header>h2 {
    margin-bottom: 20px;
}

.service-selection-header>p {
    line-height: 20px;
}

.service-selection-advanced-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 24px;
}

.service-selection-advanced-inputs>div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 16px;
}

.service-selection-advanced-inputs p {
    margin: 0;
    font-size: 14px;
}

.service-selection-advanced-inputs input[type='radio'] {
    width: 18px;
    height: 18px;
    margin-right: 16px;
}

.service-selection-advanced-inputs input[type='checkbox'] {
    margin-right: 16px;
}

.service-selection-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

.service-selection-close {
    position: absolute;
    top: 40px;
    right: 80px;
    font-size: 20px;
    line-height: 20px;
    color: #B3B7C1;
    cursor: pointer;
}

/* SERVICE EDIT POPUP */

.service-edit-popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 32px 48px;
    /*! text-align: center; */
    z-index: 100;
    width: 800px;
    height: 800px;
    box-sizing: border-box;
    display: grid;
    gap: 24px;
    justify-items: center;
    overflow: auto;
}


.service-edit-info {
    display: grid;
    justify-self: flex-start;
    gap: 16px;
    width: 100%;
}

.service-edit-details {
    display: grid;
    justify-items: flex-start;
    gap: 24px;
}

.service-edit-info>input {
    border: 1px solid rgba(45, 67, 121, calc(0.6 * 0.4));
    border-radius: 32px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #2D4379;
    padding: 0 20px;
    height: 48px;
    box-sizing: border-box;
}

.service-edit-info>textarea {
    border: 1px solid rgba(45, 67, 121, calc(0.6 * 0.4));
    border-radius: 24px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #2D4379;
    padding: 12px 20px;
    box-sizing: border-box;
    height: 200px;
    resize: none;
}

.service-edit-details span {
    margin-right: 12px;
}

.service-edit-details input[type="text"] {
    border: 1px solid rgba(45, 67, 121, calc(0.6 * 0.4));
    border-radius: 12px;
    padding: 2px 10px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12pt;
    line-height: 12pt;
    color: #2D4379;
    height: 30px;
}

.service-edit-details span,
.service-edit-details p {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: rgba(45, 67, 121, 0.6);
}

.service-edit-popup-add-category-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px 32px;
    border-radius: 24px;
    background: white;
    width: 600px;
    box-sizing: border-box;
    box-shadow: 0 0 4px gainsboro;
    z-index: 101;
    text-align: center;
}

.service-edit-popup-add-category-search input {
    width: 100%;
    padding: 16px 28px 16px 0;
    border-bottom: 1px solid #E9EEFA;
    color: #2D4379;
    box-sizing: border-box;
}

.service-edit-popup-add-category-search button {
    position: fixed;
    float: right;
    margin-top: 14px;
    right: 40px;
}

.service-edit-popup-add-category-list {
    max-height: 300px;
    margin: 12px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 12px;
    column-gap: 16px;
    list-style-type: none;
    overflow: scroll;
}

.service-edit-popup-add-category-search {
    margin-top: 16px;
}

/* SERVICES LIST DROPDOWN */

.services-list-dropdown-container {
    position: absolute;
    margin-top: -16px;
    margin-right: 16px;
    max-width: 400px;
    background: white;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0 0 4px gainsboro;
}

.services-list-dropdown-list {
    max-height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 12px;
    column-gap: 16px;
    list-style-type: none;
    overflow: auto;
}

.services-list-dropdown-no-match {
    font-size: 14px;
    line-height: 14px;
    color: #636E8D;
}

/* MOBILE */

@media screen and (max-width: 576px) {
    .service-card-container {
        width: 100%;
        height: auto;
        padding: 12px;
        display: flex;
        gap: 16px;
    }

    .service-card-header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .service-card-logo {
        width: 64px;
        height: 64px;
        border-radius: 10px;
    }

    .service-card-logo>img {
        width: 56px;
    }

    .service-card-name {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 6px;
    }

    .service-card-category {
        font-family: 'Noto Sans', sans-serif;
        font-weight: 300;
        font-size: 10px;
        line-height: 10px;
    }

    .service-card-description {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px;
    }

    .service-rating-tag {
        padding: 6px 8px;
        gap: 4px;
    }

    .service-rating-tag>span {
        font-size: 10px;
        line-height: 10px;
    }

    /* .service-page-categories {
        margin-bottom: 24px;
    } */

    .service-main-container {
        grid-template-columns: auto;
        gap: 32px;
        margin-bottom: 32px;
    }

    .service-images {
        row-gap: 9px;
        column-gap: 7px;
        /* grid-row-start: 2; */
        /* grid-row-end: initial; */
    }

    .service-image-wrapper.empty {
        width: auto;
        height: 160px;
        font-size: 24px;
    }

    .service-info {
        margin-bottom: 20px;
    }

    .service-info-header {
        margin-bottom: 24px;
    }

    .service-title-section {
        grid-template-columns: auto;
    }

    .service-title-section>h1 {
        margin-bottom: 10px;
    }

    .service-title-section>span {
        font-size: 10px;
        line-height: 10px;
        grid-column-end: initial;
    }

    .service-rating-section {
        margin: 0;
    }

    .service-rating-divider {
        height: 14px;
        margin: 0 12px;
    }

    .service-more-info {
        margin-bottom: 24px;
    }

    .service-feedback-qty {
        gap: 6px;
    }

    .service-feedback-qty>i {
        font-size: 12px;
    }

    .service-feedback-qty>span {
        font-size: 10px;
        line-height: 10px;
    }

    .service-info>p {
        margin-top: 24px;
        font-size: 10px;
        line-height: 14px;
    }

    .service-details {
        margin-top: 24px;
        gap: 18px;
    }

    .service-details>span {
        font-size: 10px;
        line-height: 10px;
    }

    .service-banner-wrapper {
        margin: 32px 0 24px;
        padding-top: 0;
    }

    .service-banner-container {
        padding: 16px;
        grid-template-columns: 50% auto;
        border-radius: 12px;
    }

    .service-banner-container h3 {
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .service-banner-container img {
        width: 96px;
        top: 8px;
        right: 40px;
    }

    .service-gallery-container {
        width: 100%;
    }

    .service-gallery-container>button {
        font-size: 20px;
        width: 32px;
    }

    .service-section-header-options {
        justify-content: center;
        margin-bottom: 20px;
    }

    .service-section-header-options>.sort-selection {
        display: none;
    }

    .service-section-header-buttons {
        gap: 10px;
    }

    .service-section-header-buttons>button {
        font-size: 10px;
        line-height: 10px;
        padding: 10px 16px;
        gap: 6px;
    }

    .service-section-header-buttons>button>span {
        font-size: 10px;
        line-height: 10px;
        padding: 4px 6px;
    }

    .service-specialists-cards {
        gap: 16px;
    }

    .services-list-header-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .services-list-header-container .sort-selection>span {
        display: inline;
    }

    .services-list-main-container {
        grid-template-columns: auto;
    }

    .services-list-filters-container {
        position: relative;
        top: initial;
    }

    .services-list-filters-container p {
        font-size: 10px;
        line-height: 10px;
    }

    .services-list-cards-container .service-card-container {
        width: 100% !important;
    }

    .services-list-services-number {
        padding: 0 6px;
        font-size: 14px;
        line-height: 24px;
    }

    .services-list-categories-container .categories-list>li:nth-child(8)~li {
        display: none;
    }

    .services-list-reset-button {
        padding: 4px 6px;
        font-size: 10px;
        line-height: 10px;
    }

    .services-list-reset-button>i {
        font-size: 10px;
    }

    .service-selection-container p {
        font-size: 10px;
        /* margin-bottom: 20px; */
    }

    .service-selection-container hr {
        margin: 20px 0;
    }

    .service-selection-header>h2 {
        margin-bottom: 10px;
    }

    .service-selection-advanced-inputs {
        grid-template-columns: auto;
        gap: 30px;
    }

    .service-selection-advanced-inputs>div {
        width: auto;
    }

    .service-selection-advanced-inputs p {
        font-size: 10px;
    }

    .service-selection-advanced-inputs label {
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        width: fit-content;
    }

    .service-selection-advanced-inputs input[type='radio'] {
        width: auto;
        height: auto;
    }

    .service-selection-buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .service-selection-close {
        top: 16px;
        right: 16px;
        font-size: 12px;
        line-height: 12px;
    }
}