/* SERVICE CARD */

.service-card-container {
    width: 245px;
    height: 310px;
    background-color: rgba(244, 247, 255, 0.5);
    border-radius: 12px;
    padding: 16px;
    box-sizing: border-box;
    flex-shrink: 0;
    word-break: break-word;
}

.service-card-container a {
    text-decoration: none;
}

.service-card-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 16px;
}

.service-card-logo {
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: lightgray; */
    /* font-size: xxx-large; */
}

.service-card-logo>img {
    width: 80px;
}

.service-card-name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    color: #16181B;
    margin-bottom: 8px;
}

.service-card-category {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(45, 67, 121, 0.6);
}

.service-card-description {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D4379;
    margin-top: 16px;
}

/* RATING TAG */

.service-rating-tag {
    padding: 6px 10px;
    background-color: #386BEE;
    border-radius: 18px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.service-rating-tag>i {
    font-size: 10px !important;
}

.service-rating-tag>span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
}

/* SERVICE PAGE */

.service-page-categories {
    margin-bottom: 40px;
}

.service-main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 64px;
}

.service-images {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
    grid-auto-rows: min-content;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    color: #2D4379;
}

.service-image-wrapper {
    padding: 1%;
    background-color: #F4F7FF;
    border-radius: 8px;
    cursor: pointer;
}

.service-image-wrapper:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
}

.service-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.service-info {
    display: block;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
}

.service-info>h1 {
    margin-bottom: 12px;
}

.service-info>h1+span {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #2D4379;
}

.service-rating-section {
    margin: 32px 0;
    display: flex;
    align-items: center;
}

.service-rating-divider {
    width: 1px;
    height: 30px;
    background: #E9EEFA;
    margin: 0 24px;
}

.service-feedback-qty {
    display: flex;
    align-items: center;
    gap: 12px;
}

.service-feedback-qty>i {
    font-size: 20px;
    color: #F8B32D;
}

.service-feedback-qty>span {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #2D4379;
}

.service-info>p {
    margin-top: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D4379;
}

.service-details {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.service-details>span {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #2D4379;
}

.service-details .service-details-data {
    font-weight: 400;
    text-align: right;
}

/* SERVICE BANNER */

.service-banner-wrapper {
    margin: 32px 0;
    padding-top: 9px;
    overflow: hidden;
}

.service-banner-container {
    padding: 24px 32px;
    display: grid;
    grid-template-columns: 70% auto;
    background: linear-gradient(96.12deg, #4687F6 4.31%, #8CC4FF 115.64%);
    border-radius: 32px;
    position: relative;
}

.service-banner-container h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.service-banner-container img {
    width: 140px;
    position: absolute;
    top: -9px;
    right: 55px;
}

/* SERVICE GALLERY */

.service-gallery-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
}

.service-gallery-container>img {
    width: 100%;
}

.service-gallery-container>button {
    font-size: 24px;
    color: #FFFFFF;
    width: 48px;
    cursor: pointer;
}

.service-gallery-container>button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.service-gallery-counter {
    position: fixed;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    font-family: 'Noto Sans', sans-serif;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    z-index: 100;
}

/* SERVICE SECTION (SPECIALISTS) */

.service-section-header-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.service-section-header-buttons {
    display: flex;
    gap: 16px;
}

.service-section-header-buttons>button {
    background-color: rgb(115, 149, 231, 0.1);
    border-radius: 75px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #386BEE;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.service-section-header-buttons>button>span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #F1F4FD;
    padding: 6px 8px;
    background-color: #386BEE;
    border-radius: 12px;
}

.service-section-header-buttons>.active {
    color: #FFFFFF;
    background-color: #386BEE;
}

.service-section-header-buttons>.active>span {
    color: #386BEE;
    background: white;
}

.service-specialists-cards {
    display: grid;
    gap: 16px;
}

/* SERVICES LIST PAGE */

.services-list-categories-container {
    padding: 24px;
    background: rgba(244, 247, 255, 0.5);
    border-radius: 12px;
}

.services-list-categories-container>p {
    margin-bottom: 24px !important;
}

.services-list-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-bottom: 32px;
}

.services-list-cards-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: calc((1280px - 245px * 5) / 4);
    row-gap: 16px;
}

.services-list-not-found {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #B3BBC2;
    text-align: center;
    margin: 200px auto;
}

.services-list-not-found>i {
    font-size: 120pt;
    margin-bottom: 16px;
}

/* SERVICE SELECTION */

.service-selection-container {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;
    background: white;
    padding: 40px 80px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-sizing: border-box;
    z-index: 100;
    font-family: 'Noto Sans';
    font-style: normal;
    color: #2D4379;
    overflow-y: auto;
    animation-name: open-service-selection;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes open-service-selection {
    from {
        top: 100%;
    }

    to {
        top: 10%;
    }
}

.service-selection-container hr {
    margin: 32px 0;
}

.service-selection-container p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 16px;
}

.service-selection-header {
    width: 35%;
}

.service-selection-header>h2 {
    margin-bottom: 20px;
}

.service-selection-header>p {
    line-height: 20px;
}

.service-selection-advanced-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.service-selection-advanced-inputs>div {
    display: grid;
    width: fit-content;
    gap: 16px;
}

.service-selection-advanced-inputs p {
    margin: 0;
}

.service-selection-advanced-inputs input[type='radio'] {
    width: 18px;
    height: 18px;
    margin-right: 16px;
}

.service-selection-advanced-inputs input[type='checkbox'] {
    margin-right: 16px;
}

.service-selection-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.service-selection-close {
    position: absolute;
    top: 40px;
    right: 80px;
    font-size: 20px;
    color: #B3B7C1;
}