/* SPECIALIST CARD */

.specialist-card-container {
    background: rgba(244, 247, 255, 0.5);
    border-radius: 24px;
    box-shadow: 0 0 8px #e0e7f4;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.specialist-card-info {
    display: flex;
    gap: 32px;
}

.specialist-card-info>img {
    width: 64px;
    height: 64px;
}

.specialist-card-info>div {
    width: 60%;
}

.specialist-card-info p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 8px;
}

.specialist-card-info span {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D4379;
}