/* SPECIALIST CARD */

.specialist-card-container {
    background: rgba(244, 247, 255, 0.5);
    border-radius: 24px;
    box-shadow: 0 0 8px #e0e7f4;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 32px;
}

.specialist-card-photo {
    grid-row-end: initial;
}

.specialist-card-photo>img {
    width: 64px;
    height: 64px;
}

.specialist-card-info {
    display: block;
    width: 60%;
}

.specialist-card-info p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 8px;
}

.specialist-card-info span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D4379;
}

/* MOBILE */

@media screen and (max-width: 576px) {
    .specialist-card-container {
        border-radius: 16px;
        padding: 16px 16px 20px;
        grid-template-columns: auto auto;
        align-items: flex-start;
        row-gap: 16px;
        column-gap: 12px;
    }

    .specialist-card-photo {
        grid-row-end: span 2;
    }

    .specialist-card-photo>img {
        width: 40px;
        height: 40px;
    }

    .specialist-card-info {
        width: auto;
    }

    .specialist-card-info p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 6px;
    }

    .specialist-card-info span {
        font-size: 10px;
        line-height: 14px;
    }

    .specialist-card-container>.arrow-right-button {
        justify-self: flex-start;
    }
}