.banner-button {
    border: none;
    background: none;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.link-arrow-right {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #386BEE;
    text-decoration: none;
}

.link-arrow-right:hover {
    text-decoration-line: underline;
}

.link-arrow-right>span {
    margin-right: 12px;
}

.blue-shadow-button {
    padding: 0 24px;
    height: 48px;
    background-color: #386BEE;
    border: none;
    border-radius: 75px;
    box-shadow: 0px 8px 16px rgba(56, 107, 238, 0.25);
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.round-item-button {
    height: 48px;
    /* background-color: rgba(56, 107, 238, 0.05); */
    background-color: #eff3ff;
    border: none;
    border-radius: 75px;
    position: relative;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #386BEE;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.round-item-button>div {
    width: 48px;
    height: 48px;
    line-height: 48px;
    background-color: #386BEE;
    box-shadow: 0px 8px 16px rgba(56, 107, 238, 0.25);
    border-radius: 75px;
    color: #FFFFFF;
    font-size: 18px;
}

.round-item-button span {
    margin: 0 24px 0 14px;
}

.page-number-button {
    padding: 6px 12px;
    background: #F4F7FF;
    border-radius: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #386BEE;
    cursor: pointer;
}

.page-number-button.active {
    background: #386BEE;
    color: #FFFFFF;
}

.popup-close-button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 20px;
    line-height: 20px;
    color: #B3B7C1;
    cursor: pointer;
}