/* USER PROFILE */

.user-profile-subheader {
    display: flex;
    align-items: center;
    gap: 24px;
}

.user-profile-modes {
    display: flex;
    gap: 20px;
    margin: 32px 0;
}

.user-profile-modes>button {
    background-color: rgb(115, 149, 231, 0.1);
    border-radius: 75px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #386BEE;
    padding: 17px 24px;
    cursor: pointer;
}

.user-profile-modes>.active {
    color: #FFFFFF;
    background-color: #386BEE;
}

/* USER PROFILE EDIT */

.user-profile-edit-container {
    display: flex;
    align-items: flex-start;
    gap: 48px;
    margin-top: 48px;
}

.user-profile-edit-photo {
    position: relative;
}

.user-profile-edit-photo-input {
    position: absolute;
    display: none;
}

.user-profile-edit-photo-input+label {
    position: absolute;
    top: 0;
    right: -8px;
    padding: 8px;
    background: #386BEE;
    color: white;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(56, 107, 238, 0.25);
    display: flex;
    cursor: pointer;
}

.user-profile-edit-info {
    display: grid;
    gap: 16px;
    margin-right: auto;
}

.user-profile-edit-info>input {
    border: 1px solid rgba(45, 67, 121, 0.6);
    border-radius: 32px;
    padding: 0 32px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #16181B;
}

.user-profile-edit-info>label {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #2D4379;
}

.user-profile-edit-info>label>input {
    margin-right: 20px;
}

.user-profile-edit-info a {
    color: #386BEE;
}

.user-profile-edit-info>button {
    width: 220px;
    padding: 0;
    margin-top: 24px;
}

.user-profile-edit-delete {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FF2038;
    cursor: pointer;
}

/* MISC */

.user-profile-photo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.user-profile-large-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}