/* USER PROFILE */

.user-profile-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 32px;
}

.user-profile-subheader {
    display: flex;
    align-items: center;
    gap: 24px;
}

.user-profile-admin-button-container {
    margin-right: auto;
}

.user-profile-admin-button {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 16px 24px;
    background: rgba(115, 149, 231, 0.1);
    border-radius: 24px;
    color: #386BEE;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.user-profile-edit-button-container {
    width: auto;
}

.user-profile-modes {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin: 32px 0;
}

.user-profile-modes-subheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.user-profile-modes>button {
    background-color: rgb(115, 149, 231, 0.1);
    border-radius: 75px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #386BEE;
    padding: 17px 24px;
    cursor: pointer;
}

.user-profile-modes>.active {
    color: #FFFFFF;
    background-color: #386BEE;
}

/* USER PROFILE EDIT */

.user-profile-edit-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 48px;
    margin-top: 48px;
}

.user-profile-edit-photo {
    position: relative;
    line-height: 0;
}

.user-profile-edit-photo-input {
    position: absolute;
    display: none;
}

.user-profile-edit-photo-input+label {
    position: absolute;
    top: 0;
    right: -8px;
    padding: 8px;
    background: #386BEE;
    color: white;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(56, 107, 238, 0.25);
    display: flex;
    cursor: pointer;
}

.user-profile-edit-info {
    display: grid;
    gap: 16px;
    margin-right: auto;
}

.user-profile-edit-info>input {
    border: 1px solid rgba(45, 67, 121, 0.6);
    border-radius: 32px;
    padding: 0 32px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #16181B;
    box-sizing: border-box;
}

.user-profile-edit-info>label {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #2D4379;
}

.user-profile-edit-info>label>input {
    margin-right: 20px;
}

.user-profile-edit-info a {
    color: #386BEE;
}

.user-profile-edit-info>button {
    width: 220px;
    padding: 0;
    margin-top: 24px;
}

/* MISC */

.user-profile-photo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.user-profile-large-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* USER ADMIN PANEL */

.user-admin-panel {
    margin: 32px 0;
    display: grid;
    grid-template-columns: 220px auto;
    gap: 24px;
}

.user-admin-panel-section-buttons {
    display: grid;
    align-content: flex-start;
    gap: 16px;
}

.user-admin-panel-button {
    width: 100%;
    min-width: 120px;
    height: 60px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    background: #F4F7FF;
    border-radius: 24px;
    color: #386BEE;
    box-shadow: 0 0 4px #F4F7FF;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.user-admin-panel-button.active {
    background: #386BEE;
    color: #FFFFFF;
}

.user-admin-panel-button>i {
    font-size: 20px;
}

.user-admin-panel-table {
    display: grid;
    gap: 16px;
}

.user-admin-panel-table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.user-admin-panel-table-header>.wide-search-container {
    margin: 0;
}

.user-admin-panel-table-header>.wide-search-container>input[type='text'] {
    padding: 0 16px 0 48px;
}

.user-admin-panel-table-header>.wide-search-container>i {
    float: left;
    margin-left: 18px;
    margin-right: 0;
    color: #386BEE;
}

.user-admin-panel-search-length {
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #636E8D;
}

.user-admin-panel-search-length span {
    background: #386BEE;
    color: #FFFFFF;
    border-radius: 12px;
    font-weight: 500;
    padding: 2px 4px;
}

.user-admin-panel-table-header>.user-admin-panel-button {
    width: 200px;
    height: 48px;
    box-shadow: none;
    /* margin-right: auto; */
}

.user-admin-panel-table-content {
    height: 505px;
    overflow: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #2D4379;
}

.user-admin-panel-table-row-head {
    display: grid;
    background: #386BEE;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    border-radius: 12px 12px 0 0;
}

.user-admin-panel-table-row-head>* {
    padding: 10px;
    border-right: 1px solid white;
    text-align: center;
}

.user-admin-panel-table-row-head>*:last-child {
    border: none;
}

.user-admin-panel-table-row-head i {
    font-size: 14px;
}

.user-admin-panel-table-row {
    display: grid;
}

.user-admin-panel-table-row>* {
    padding: 4px;
    border-right: 1px solid #eee;
}

.user-admin-panel-table-row>*:last-child {
    border: none;
}

.user-admin-panel-table-row i {
    font-size: 14px;
    color: #2D4379;
}

.user-admin-panel-table-row-head#services,
.user-admin-panel-table-row#services {
    grid-template-columns: 5% 25% 7% auto 5% 13% 5%;
}

.user-admin-panel-table-row-head#categories,
.user-admin-panel-table-row#categories {
    grid-template-columns: 5% auto 7% 13% 5%;
}

.user-admin-panel-table-content>.user-admin-panel-table-row:nth-child(2n) {
    background: #F4F7FF;
}

.user-admin-panel-table-content>.user-admin-panel-table-row:nth-child(2n)>* {
    border-right: 1px solid white;
}

.user-admin-panel-table-content>.user-admin-panel-table-row:nth-child(2n)>*:last-child {
    border: none;
}

.user-admin-panel-table-row>#service-name>a {
    font-weight: 400;
    font-size: inherit;
    line-height: 14px;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.user-admin-panel-table-row>#service-name i {
    font-size: 12px;
    color: #386BEE;
}

.user-admin-panel-table-edit-button {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #777;
    text-decoration: underline dashed 1px;
    text-underline-offset: 4px;
    cursor: pointer;
}

.user-admin-panel-table-edit-button:hover {
    color: #444;
}

.user-admin-panel-add-buttons {
    display: flex;
    gap: 24px;
}

/* MOBILE */

@media screen and (max-width: 576px) {
    .user-profile-header-container {
        /* flex-direction: column; */
        /* align-items: flex-start; */
        gap: 16px;
        margin-bottom: 20px;
    }

    .user-profile-subheader {
        gap: 16px;
    }

    .user-profile-edit-button-container {
        width: min-content;
    }

    .user-profile-modes {
        justify-content: center;
        gap: 10px;
        margin: 20px 0 32px;
    }

    .user-profile-modes-subheader {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .user-profile-modes>button {
        font-size: 10px;
        line-height: 10px;
        padding: 14px 16px;
    }

    .user-profile-edit-container {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: 24px;
    }

    .user-profile-edit-info {
        margin-right: 0;
    }

    .user-profile-edit-info>input {
        padding: 0 20px;
        height: 42px;
        font-size: 12px;
        line-height: 12px;
    }

    .user-profile-edit-info>label {
        font-size: 12px;
        line-height: 16px;
    }

    .user-profile-edit-info>label>input {
        margin-right: 12px;
    }

    .user-profile-edit-info>button {
        width: 180px;
        margin-top: 48px;
        justify-self: center;
    }

    .user-profile-edit-delete {
        font-size: 10px;
        line-height: 10px;
    }

    .user-profile-photo {
        width: 40px;
        height: 40px;
    }
}